#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 125px;
  height: 43px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_32 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_70 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_71 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_72 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_73 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_74 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_75 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_76 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_77 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_34 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_35 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_134 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_33 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_135 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_36 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_78 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_79 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_80 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_81 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_82 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_83 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_84 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_85 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_37 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_142 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_39 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_39 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_38 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_147 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 129px;
  height: 46px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 125px;
  height: 43px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 127px;
  height: 44px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 121px;
  height: 36px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_41 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Ellipse_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_148 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_86 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_87 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_88 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_89 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_90 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_91 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_92 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_93 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_156 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_157 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_158 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_42 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_160 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 129px;
  height: 46px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 125px;
  height: 43px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_60 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_159 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_161 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_162 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_94 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_95 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_96 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_98 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_99 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_100 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_45 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_163 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_164 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_165 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_166 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_167 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_168 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_169 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_46 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_52 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_52 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_170 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 129px;
  height: 46px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 125px;
  height: 43px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 127px;
  height: 44px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Button_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 121px;
  height: 36px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-all {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-classe {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-eleve {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31037c9f-a43b-4789-b883-5e682b6e05a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}