#s-5306a60c-133b-4095-92b3-019c36b79259 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_21 {
  position: absolute;
  top: 245px;
  left: 501px;
  width: 24px;
  height: 26px;
  background-color: #2B2BFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_22 {
  position: absolute;
  top: 245px;
  left: 528px;
  width: 24px;
  height: 26px;
  background-color: #5555FF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_23 {
  position: absolute;
  top: 245px;
  left: 555px;
  width: 24px;
  height: 26px;
  background-color: #8080FF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_24 {
  position: absolute;
  top: 245px;
  left: 582px;
  width: 24px;
  height: 26px;
  background-color: #AAAAFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_25 {
  position: absolute;
  top: 245px;
  left: 609px;
  width: 24px;
  height: 26px;
  background-color: #FFAAAA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_26 {
  position: absolute;
  top: 245px;
  left: 636px;
  width: 24px;
  height: 26px;
  background-color: #FF8080;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_27 {
  position: absolute;
  top: 245px;
  left: 663px;
  width: 24px;
  height: 26px;
  background-color: #FF5555;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_28 {
  position: absolute;
  top: 245px;
  left: 690px;
  width: 24px;
  height: 26px;
  background-color: #FF2B2B;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_29 {
  position: absolute;
  top: 201px;
  left: 501px;
  width: 24px;
  height: 26px;
  background-color: #00D500;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_30 {
  position: absolute;
  top: 201px;
  left: 528px;
  width: 24px;
  height: 26px;
  background-color: #00FF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_31 {
  position: absolute;
  top: 201px;
  left: 555px;
  width: 24px;
  height: 26px;
  background-color: #2BFF2B;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_32 {
  position: absolute;
  top: 201px;
  left: 582px;
  width: 24px;
  height: 26px;
  background-color: #55FF55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_32 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_33 {
  position: absolute;
  top: 201px;
  left: 609px;
  width: 24px;
  height: 26px;
  background-color: #80FF80;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_34 {
  position: absolute;
  top: 201px;
  left: 636px;
  width: 24px;
  height: 26px;
  background-color: #AAFFAA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_35 {
  position: absolute;
  top: 201px;
  left: 663px;
  width: 24px;
  height: 26px;
  background-color: #D5FFD5;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_36 {
  position: absolute;
  top: 201px;
  left: 690px;
  width: 24px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_38 {
  position: absolute;
  top: 159px;
  left: 501px;
  width: 24px;
  height: 26px;
  background-color: #80FF55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_38 span#rtr-s-Rectangle_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_39 {
  position: absolute;
  top: 159px;
  left: 528px;
  width: 24px;
  height: 26px;
  background-color: #AAFF55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_40 {
  position: absolute;
  top: 159px;
  left: 555px;
  width: 24px;
  height: 26px;
  background-color: #D5FF55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_41 {
  position: absolute;
  top: 159px;
  left: 582px;
  width: 24px;
  height: 26px;
  background-color: #FFFF55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_41 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_41 span#rtr-s-Rectangle_41_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_42 {
  position: absolute;
  top: 159px;
  left: 609px;
  width: 24px;
  height: 26px;
  background-color: #FFD555;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_42 span#rtr-s-Rectangle_42_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_43 {
  position: absolute;
  top: 159px;
  left: 636px;
  width: 24px;
  height: 26px;
  background-color: #FFAA55;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_43 span#rtr-s-Rectangle_43_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_44 {
  position: absolute;
  top: 159px;
  left: 663px;
  width: 24px;
  height: 26px;
  background-color: #FF8055;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_44 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_44 span#rtr-s-Rectangle_44_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_45 {
  position: absolute;
  top: 159px;
  left: 690px;
  width: 24px;
  height: 26px;
  background-color: #FF5555;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_45 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_45 span#rtr-s-Rectangle_45_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_46 {
  position: absolute;
  top: 116px;
  left: 501px;
  width: 24px;
  height: 26px;
  background-color: #40FF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_46 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_46 span#rtr-s-Rectangle_46_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_47 {
  position: absolute;
  top: 116px;
  left: 528px;
  width: 24px;
  height: 26px;
  background-color: #80FF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_47 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_47 span#rtr-s-Rectangle_47_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_48 {
  position: absolute;
  top: 116px;
  left: 555px;
  width: 24px;
  height: 26px;
  background-color: #BFFF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_48 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_48 span#rtr-s-Rectangle_48_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_49 {
  position: absolute;
  top: 116px;
  left: 582px;
  width: 24px;
  height: 26px;
  background-color: #FFFF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_49 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_49 span#rtr-s-Rectangle_49_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_50 {
  position: absolute;
  top: 116px;
  left: 609px;
  width: 24px;
  height: 26px;
  background-color: #FFBF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_50 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_50 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_50 span#rtr-s-Rectangle_50_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_51 {
  position: absolute;
  top: 116px;
  left: 636px;
  width: 24px;
  height: 26px;
  background-color: #FF8000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_51 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_51 span#rtr-s-Rectangle_51_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_52 {
  position: absolute;
  top: 116px;
  left: 663px;
  width: 24px;
  height: 26px;
  background-color: #FF4000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_52 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_52 span#rtr-s-Rectangle_52_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_53 {
  position: absolute;
  top: 116px;
  left: 690px;
  width: 24px;
  height: 26px;
  background-color: #FF0000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_53 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_53 span#rtr-s-Rectangle_53_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_1 {
  position: absolute;
  top: 82px;
  left: 492px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_2 {
  position: absolute;
  top: 82px;
  left: 717px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_37 {
  position: absolute;
  top: 287px;
  left: 690px;
  width: 24px;
  height: 26px;
  background-color: #FF0000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_54 {
  position: absolute;
  top: 287px;
  left: 663px;
  width: 24px;
  height: 26px;
  background-color: #FF2B2B;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_54 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_54 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_54 span#rtr-s-Rectangle_54_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_55 {
  position: absolute;
  top: 287px;
  left: 636px;
  width: 24px;
  height: 26px;
  background-color: #FF5555;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_55 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_55 span#rtr-s-Rectangle_55_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_56 {
  position: absolute;
  top: 287px;
  left: 609px;
  width: 24px;
  height: 26px;
  background-color: #FF8080;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_56 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_56 span#rtr-s-Rectangle_56_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_57 {
  position: absolute;
  top: 287px;
  left: 582px;
  width: 24px;
  height: 26px;
  background-color: #FFAAAA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_57 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_57 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_57 span#rtr-s-Rectangle_57_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_58 {
  position: absolute;
  top: 287px;
  left: 555px;
  width: 24px;
  height: 26px;
  background-color: #FFD5D5;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_58 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_58 span#rtr-s-Rectangle_58_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_59 {
  position: absolute;
  top: 287px;
  left: 528px;
  width: 24px;
  height: 26px;
  background-color: #FFD5D5;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_59 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_59 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_59 span#rtr-s-Rectangle_59_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_60 {
  position: absolute;
  top: 287px;
  left: 501px;
  width: 24px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_60 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_60 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 #s-Rectangle_60 span#rtr-s-Rectangle_60_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5306a60c-133b-4095-92b3-019c36b79259 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}