#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_70 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_71 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_72 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_73 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_74 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_75 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_76 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_77 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_23 {
  rotation: 270.0;
  margin-left: 60px;
  margin-top: -60px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_32 {
  rotation: 270.0;
  margin-left: 123px;
  margin-top: -124px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_61 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_62 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_63 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_64 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_65 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_66 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_67 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_68 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_17 {
  rotation: 270.0;
  margin-left: 60px;
  margin-top: -60px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_26 {
  rotation: 270.0;
  margin-left: 38px;
  margin-top: -40px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_78 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_79 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_84 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_85 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_86 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_87 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_88 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_89 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_35 {
  rotation: 270.0;
  margin-left: 110px;
  margin-top: -110px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_39 {
  rotation: 270.0;
  margin-left: 100px;
  margin-top: -101px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_3 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_4 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_81 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_82 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_83 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_90 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_91 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 20px;
  margin-top: -20px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_92 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 21px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_93 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Rectangle_94 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 20px;
  margin-top: -21px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_42 {
  rotation: 270.0;
  margin-left: 109px;
  margin-top: -110px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_46 {
  rotation: 270.0;
  margin-left: 106px;
  margin-top: -108px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_20 {
  rotation: 90.0;
  margin-left: 23px;
  margin-top: -23px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_5 {
  rotation: 90.0;
  margin-left: 23px;
  margin-top: -23px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-daaa0764-6066-4c7a-9734-9ddc5d269460 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}