#s-ea605619-b250-4564-b3ff-26af37dc2e98 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_navigation {
  position: absolute;
  top: 94px;
  left: 1px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-all {
  width: 144px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-all .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_83 {
  position: absolute;
  top: 42px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_83 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_83 span#rtr-s-Text_83_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_87 {
  position: absolute;
  top: 117px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_87 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_87 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_87 span#rtr-s-Text_87_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_108 {
  position: absolute;
  top: 86px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_108 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_108 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_108 span#rtr-s-Text_108_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_109 {
  position: absolute;
  top: 240px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_109 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_109 span#rtr-s-Text_109_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_9 {
  position: absolute;
  top: 235px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_10 {
  position: absolute;
  top: 81px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_11 {
  position: absolute;
  top: 38px;
  left: 8px;
  width: 28px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_12 {
  position: absolute;
  top: 110px;
  left: 8px;
  width: 27px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-classe {
  width: 144px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-classe .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_111 {
  position: absolute;
  top: 184px;
  left: 44px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_111 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_111 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_111 span#rtr-s-Text_111_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_112 {
  position: absolute;
  top: 86px;
  left: 39px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_112 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_112 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_112 span#rtr-s-Text_112_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_113 {
  position: absolute;
  top: 113px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_113 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_113 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_113 span#rtr-s-Text_113_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_114 {
  position: absolute;
  top: 136px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_114 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_114 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_114 span#rtr-s-Text_114_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_122 {
  position: absolute;
  top: 46px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_122 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_122 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_122 span#rtr-s-Text_122_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_123 {
  position: absolute;
  top: 240px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_123 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_123 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_123 span#rtr-s-Text_123_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_5 {
  position: absolute;
  top: 235px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_6 {
  position: absolute;
  top: 81px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_7 {
  position: absolute;
  top: 38px;
  left: 8px;
  width: 28px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_8 {
  position: absolute;
  top: 177px;
  left: 8px;
  width: 27px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_4 {
  position: absolute;
  top: 125px;
  left: 20px;
  width: 48px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_5 {
  position: absolute;
  top: 118px;
  left: 44px;
  width: 6px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_6 {
  position: absolute;
  top: 148px;
  left: 44px;
  width: 6px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-eleve {
  width: 144px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-eleve .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_116 {
  position: absolute;
  top: 46px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_116 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_116 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_116 span#rtr-s-Text_116_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_117 {
  position: absolute;
  top: 115px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_117 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_117 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_117 span#rtr-s-Text_117_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_118 {
  position: absolute;
  top: 86px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_118 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_118 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_118 span#rtr-s-Text_118_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_119 {
  position: absolute;
  top: 141px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_119 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_119 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_119 span#rtr-s-Text_119_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_120 {
  position: absolute;
  top: 167px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_120 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_120 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_120 span#rtr-s-Text_120_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_121 {
  position: absolute;
  top: 240px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_121 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_121 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_121 span#rtr-s-Text_121_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_1 {
  position: absolute;
  top: 235px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_2 {
  position: absolute;
  top: 81px;
  left: 8px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_3 {
  position: absolute;
  top: 108px;
  left: 8px;
  width: 27px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_4 {
  position: absolute;
  top: 38px;
  left: 8px;
  width: 28px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_1 {
  position: absolute;
  top: 155px;
  left: 20px;
  width: 48px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_2 {
  position: absolute;
  top: 148px;
  left: 44px;
  width: 6px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_3 {
  position: absolute;
  top: 178px;
  left: 44px;
  width: 6px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_favs {
  position: absolute;
  top: 94px;
  left: 144px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_1 {
  width: 399px;
  height: 235px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 {
  position: absolute;
  top: 106px;
  left: 22px;
  width: 205px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_8 {
  position: absolute;
  top: 66px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_12 {
  position: absolute;
  top: 15px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_historique {
  position: absolute;
  top: 328px;
  left: 542px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_histo {
  width: 397px;
  height: 235px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_histo .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Group_1 {
  position: absolute;
  top: 15px;
  left: 52px;
  width: 281px;
  height: 225px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 {
  position: absolute;
  top: 25px;
  left: 23px;
  width: 198px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 {
  position: absolute;
  top: 209px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 span#rtr-s-Text_63_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 span#rtr-s-Text_63_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_23 .content {
  width: 15px;
  height: 14px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_23 {
  position: absolute;
  top: 210px;
  left: 3px;
  width: 15px;
  height: 14px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_23 span#rtr-s-Ellipse_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_17 .content {
  width: 15px;
  height: 14px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_17 {
  position: absolute;
  top: 87px;
  left: 0px;
  width: 15px;
  height: 14px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_57 {
  position: absolute;
  top: 88px;
  left: 20px;
  width: 261px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_18 .content {
  width: 15px;
  height: 14px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_18 {
  position: absolute;
  top: 23px;
  left: 3px;
  width: 15px;
  height: 14px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_20 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_20 .content {
  width: 15px;
  height: 14px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_20 {
  position: absolute;
  top: 130px;
  left: 2px;
  width: 15px;
  height: 14px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_20 span#rtr-s-Ellipse_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_60 {
  position: absolute;
  top: 129px;
  left: 21px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_21 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_21 .content {
  width: 15px;
  height: 14px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_21 {
  position: absolute;
  top: 156px;
  left: 0px;
  width: 15px;
  height: 14px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #shapewrapper-s-Ellipse_21 span#rtr-s-Ellipse_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_61 {
  position: absolute;
  top: 155px;
  left: 16px;
  width: 213px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_61 span#rtr-s-Text_61_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_acti_comp_recentes {
  position: absolute;
  top: 94px;
  left: 542px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_3 {
  width: 397px;
  height: 235px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_7 {
  position: absolute;
  top: 62px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_6 {
  position: absolute;
  top: 16px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_9 {
  position: absolute;
  top: 105px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_10 {
  position: absolute;
  top: 161px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_11 {
  position: absolute;
  top: 133px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_eleves_difficulte {
  position: absolute;
  top: 328px;
  left: 144px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_2 {
  width: 399px;
  height: 235px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_5 {
  position: absolute;
  top: 142px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_4 {
  position: absolute;
  top: 110px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_3 {
  position: absolute;
  top: 76px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_2 {
  position: absolute;
  top: 17px;
  left: 120px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}