#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-all {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-classe {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-eleve {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-panel_histo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Ellipse_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea605619-b250-4564-b3ff-26af37dc2e98 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}