#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 98px;
  height: 31px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 32px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_54 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_55 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_57 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 101px;
  height: 34px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_58 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(270.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_80 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_81 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_82 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_83 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_22 {
  -ms-transform: rotate(324.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_23 {
  -ms-transform: rotate(324.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_25 {
  -ms-transform: rotate(324.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_26 {
  -ms-transform: rotate(324.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Menu_item_8 {
  height: 41px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Menu_item_9 {
  height: 41px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Menu_item_1 {
  height: 41px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Table_2 {
  border-collapse: separate;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Table_5 {
  border-collapse: separate;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Table_4 {
  border-collapse: separate;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-all {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-classe {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-eleve {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}