#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_5 {
  rotation: 270.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_16 {
  rotation: 270.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_6 {
  rotation: 270.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_17 {
  rotation: 270.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_22 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  margin-left: -1px;
  margin-top: -12px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_23 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  margin-left: -1px;
  margin-top: -12px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_25 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  margin-left: -1px;
  margin-top: -12px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_26 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8090169943749473,M12=0.5877852522924734,M21=-0.5877852522924734,M22=0.8090169943749473);
  margin-left: -1px;
  margin-top: -12px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_9 {
  rotation: 90.0;
  margin-left: 23px;
  margin-top: -23px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_12 {
  rotation: 90.0;
  margin-left: 23px;
  margin-top: -23px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f33a4ad9-7269-4562-aab9-7c79673c9c5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}